*, *::after, *::before {
    box-sizing: content-box;
}

html {
    height: 100%;
    font-family: "montserratregular", "Arial", sans-serif;
}

body {
    height: 100%;    
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.section {
    width: 100%;
}

.container {
    max-width: 1110px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

.men-women {
    background:linear-gradient(
          to right,
          #f9f6f1 0%,
          #f9f6f1 50%,
          #f4f4f4 50%,
          #f4f4f4 100%
        );
}

.men-women__container{
    display: flex;
    flex-direction: row;
}
.men {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 58px;
    background-image:url('../img/men.png') ;
    background-repeat:no-repeat;
    background-size: 450px;
    background-position-x:150% ;
    background-position-y: 60px;

}
.women {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 58px;
    background-image:url('../img/women.png') ;
    background-repeat:no-repeat;
    background-size: 450px;
    background-position-x:150% ;
    background-position-y: 60px;
}
.men-women__h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #000000;
    text-transform: uppercase;
}
.men-women__btn {
    display: block;
    width: 80px;
    height: 30px;
    background: #D7B399;
    text-align: center;
}

.men-women__btn svg {
    margin-top: 11px;
}

.men-women__btn:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.copy {
    display: none;
}

@media print {
    .men-women__h3 {
        display: none;
    }
    .copy {
        display: block;
    }
}

@media(max-width:1000px) {
    .men, .women {
        background: none;
    }
}

@media(max-width:576px){
    .men-women__container{
        flex-direction: column;
    }
    .men, .women {
        width: 100%;
    }
    .women{
        background-color: #f4f4f4;
    }
}